.nav-bar {
    width: 100vw;
    height: 72px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;

    .nav-logo-wrapper {
        display: flex;
        align-items: center;
        font-size: 18pt;

        a {
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            font-weight: 600;
            padding: 8px 16px;
            cursor: pointer;
            transition: 0.15s ease-in-out;
            border-radius: 4px;
        }
    }

    .nav-buttons-wrapper {
        display: flex;
        flex-direction: row;
        gap: 8px;

        #logout-button,
        #search-button,
        #profile-button {
            border: none;
            outline: none;
            padding: 12px 16px;
            background: none;
            text-decoration: underline;
            font-size: 14pt;
            cursor: pointer;
            transition: 0.15s ease-in-out;
            font-weight: 600;
            border-radius: 4px;
            display: flex;
            align-items: center;
            gap: 8px;

            svg {
                font-size: 20pt;
            }
        }
    }
}

.nav-bar-light {
    background-color: #EBE3D5;

    .nav-logo-wrapper {
        a {
            color: #FF8303;

            &:hover {
                background-color: #493628;
                color: #FAF7F0;
            }
        }
    }

    .nav-buttons-wrapper {
        #logout-button,
        #profile-button,
        #search-button {
            color: #493628;

            &:hover {
                background-color: #493628;
                color: #FAF7F0;
            }
        }
    }
}

.nav-bar-dark {
    background-color: #1c1712;

    .nav-logo-wrapper {
        a {
            color: #FF8303;

            &:hover {
                background-color: #D6C0B3;
                color: #493628;
            }
        }
    }

    .nav-buttons-wrapper {
        #logout-button,
        #profile-button,
        #search-button {
            color: #E4E0E1;

            &:hover {
                background-color: #D6C0B3;
                color: #493628;
            }
        }
    }
}

#search-wrapper {
    position: absolute;
    top: 72px;
    right: 0;
    height: calc(100vh - 72px);
    width: 100vw;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    display: grid;
    grid-template-columns: 1fr auto;
    z-index: 999;

    .search-box {
        height: 100%;
        min-width: 400px;
        width: 30vw;
        max-width: 600px;

        .search-results-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;

            input {
                margin: 32px 48px 16px 48px;
                padding: 12px 16px;
                border: none;
                outline: none;
                border-radius: 4px;
                font-size: 12pt;
            }

            .search-results {
                width: 100%;
                height: 100%;
                padding: 0 48px 32px 48px;
                display: flex;
                flex-direction: column;
                gap: 8px;

                a {
                    border-radius: 4px;
                    padding: 12px 16px;
                    text-align: left;
                    font-size: 12pt;
                    transition: 0.15s ease-in-out;
                    font-weight: 500;
                }
            }
        }
    }

    &.search-wrapper-light {
        background-color: #00000075;

        .search-box {
            background-color: #EBE3D5;

            .search-results-wrapper {
                input {
                    background-color: #D6C0B3;
                    color: #493628;
                }

                .search-results {
                    a {
                        color: #493628;

                        &:hover {
                            background-color: #493628;
                            color: #FAF7F0;
                        }
                    }
                }
            }
        }
    }

    &.search-wrapper-dark {
        background-color: #5d5d5d75;

        .search-box {
            background-color: #1C1712;

            .search-results-wrapper {
                input {
                    background-color: #493628;
                    color: #FAF7F0;
                }

                .search-results {
                    a {
                        color: #E4E0E1;

                        &:hover {
                            background-color: #D6C0B3;
                            color: #493628;
                        }
                    }
                }
            }
        }
    }
}